{% extends 'base_dash.html.twig' %}

{% block title %}Nuevas credenciales SNMP{% endblock %}

{% block content %}
    <h1>Nuevas credenciales SNMP</h1>
    {{ include('snmp_credential/_form.html.twig') }}
{% endblock %}
