{% extends 'base_dash.html.twig' %}

{% block title %}Nuevas credenciales SSH{% endblock %}

{% block content %}
    <h1>Nuevas credenciales SSH</h1>
    {{ include('ssh_credential/_form.html.twig') }}
{% endblock %}
