{% extends 'base_dash.html.twig' %}

{% block title %}Editar Antena{% endblock %}

{% block content %}
    <h1>Editar Antena</h1>
    {{ include('antenna/_form.html.twig', {'button_label': 'Guardar'}) }}
{% endblock %}
