{% extends 'base_dash.html.twig' %}

{% block title %}Editar fabricante{% endblock %}

{% block content %}
    <h1>Editar fabricante</h1>
    {{ include('manufacturer/_form.html.twig', {'button_label': 'Guardar'}) }}
{% endblock %}