{% extends 'base_dash.html.twig' %}

{% block title %}Nuevo fabricante{% endblock %}

{% block content %}
    <h1>Crear nuevo fabricante</h1>
    {{ include('manufacturer/_form.html.twig') }}
{% endblock %}
