.td-options > * {
    float: left;
    margin-right: 10px;
    font-size: 1.2em;
}

.custom-file-label {
    height: calc(1.5em + .75rem + 2px);
}

.custom-file-label:after {
    content: 'Seleccionar';
    line-height: 1.25;
    background-color: rgba(27, 85, 226, 0.239216);
    color: #1b55e2;
    border-left: 1px solid #e0e6ed;
    box-sizing: border-box;
}

.vich-image img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
