{% extends 'base_dash.html.twig' %}

{% block title %}Editar ATA{% endblock %}

{% block content %}
    <h1>Editar ATA</h1>
    {{ include('ata/_form.html.twig', {'button_label': 'Guardar'}) }}
{% endblock %}
