{% extends 'base_dash.html.twig' %}

{% block title %}Editar CPD{% endblock %}

{% block content %}
    <h1>Editar CPD</h1>
    {{ include('cpd/_form.html.twig', {'button_label': 'Guardar'}) }}
{% endblock %}
